<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<section class="container">
    <h1 class="align-content-lg-center" style="color: #fff3cd">Oops...Something went wrong! </h1>
    <h2 class="align-content-lg-center" style="color: #fff3cd">Page Not Found</h2>
    <a class="align-content-lg-center" style="color: #0b2e13" href="/">Go Back</a>
</section>
</body>
<footer th:replace="~{fragments/commons::footer}"></footer>
</html>